.App {
  text-align: center;
  background-color: rgb(255, 151, 146);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron {
  color: white;
  text-shadow: 2px 1px #000000;
  height: 100vh;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  background-image: url('./DryForestPhoto.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  padding: 2%;
}

.App-link {
  color: #61dafb;
}
