.App {
  text-align: center;
  background-color: rgb(254, 207, 205);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.jumbotron {
  color: white;
  text-shadow: #282c34;
  height: 100vh;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  background-image: url('./DryForestPhoto.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  padding: 2%;
}

#main-title-line{
  border-bottom: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  outline: 1px solid black;
}

.main-title {
  border-bottom: solid;
  color: black;
}

.background-box {
  background-color: white;
}

.App-link {
  color: #61dafb;
}
