.info-title {
    padding: 3%;
    font-weight: bolder;
    font-size: larger;
    border-bottom: solid;
    margin-left: 5%;
    margin-right: 5%;
    
}

ul.action-list {
    text-align: left !important;
  }

.accordion-body{
text-align: left;
}

